<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

  <body>
    <%- include('header') %>
      <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb-inner text-center">
                <h1 class="title split-collab">Liên hệ</h1>
                <ul class="page-list">
                  <li class="tmp-breadcrumb-item"><a href="/">Trang chủ</a></li>
                  <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                  <li class="tmp-breadcrumb-item active">Liên hệ</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb Area End -->
      <div class="contact-area-wrapper tmp-section-gap">
        <div class="container">
          <div class="contact-info-wrap">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="contact-info tmp-scroll-trigger tmponhover tmp-fade-in animation-order-1">
                  <div class="contact-icon">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                  <h3 class="title">Địa chỉ</h3>
                  <p class="para">Lô số 15, tầng 1 tòa Parking Zone 3</p>
                  <p class="para">Vinhomes Smart City, Nam Từ Liêm - Hà Nội</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="contact-info tmp-scroll-trigger tmponhover tmp-fade-in animation-order-2">
                  <div class="contact-icon">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                  <h3 class="title">E-mail</h3>
                  <a href="mailto:themespark11@gmail.com">
                    <p class="para">longnasa88@gmail.com</p>
                    <p class="para"><br></p>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="contact-info tmp-scroll-trigger tmponhover tmp-fade-in animation-order-3">
                  <div class="contact-icon">
                    <i class="fa-solid fa-phone"></i>
                  </div>
                  <h3 class="title">Call Me</h3>
                  <p class="para">0375.122.388</p>
                  <p class="para">0975.460.402</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('form-email') %>
      </div>

      <%- include('footer') %>

        <%- include("script") %>
  </body>

</html>