<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="">
  <meta name="description" content="Nhà môi giới chuyên nghiệp, chuyên tư vấn bất động sản" />
  <link rel="shortcut icon" type="image/x-icon" href="<%- include('base') %>/images/favicon.ico" />
  <title>Long Nasa</title>
  <link rel="stylesheet" href="<%- include('base') %>/css/vendor/fontawesome.css" />
  <link rel="stylesheet" href="<%- include('base') %>/css/plugins/swiper.css" />
  <link rel="stylesheet" href="<%- include('base') %>/css/plugins/odometer.css" />
  <link rel="stylesheet" href="<%- include('base') %>/css/vendor/animate.min.css" />
  <link rel="stylesheet" href="<%- include('base') %>/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="<%- include('base') %>/css/style.css" />
</head>