<!DOCTYPE html>
<html lang="en">
<%- include("head") %>

    <body>
        <%- include("header") %>
            <div class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-inner text-center">
                                <h1 class="title split-collab">
                                    <%= ten_du_an %>
                                </h1>
                                <ul class="page-list">
                                    <li class="tmp-breadcrumb-item"><a href="/">Trang chủ</a></li>
                                    <li class="icon"><i class="fa-solid fa-angle-right"></i></li>
                                    <li class="tmp-breadcrumb-item active">
                                        <%= ten_du_an %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include(file) %>

                <%- include("footer") %>

                    <%- include("scroll") %>

                        <%- include("script") %>

    </body>

</html>