<!DOCTYPE html>
<html lang="en">
<%- include("head") %>

  <body class="project inner">
    <%- include('header') %>

      <section class="tmp-latest-portfolio tmp-section-gap">
        <div class="container">
          <div class="row">
            <% for(var i=0; i<thong_tin_du_an.length; i++) { %>
              <% let image=`images/project/${thong_tin_du_an[i].hinh_anh}`%>
                <% let du_an=thong_tin_du_an[i] %>

                  <div class="col-lg-6 col-sm-6">
                    <div class="latest-portfolio-card tmp-hover-link tmp-scroll-trigger tmp-fade-in animation-order-1">
                      <div class="portfoli-card-img">
                        <div class="img-box v2">
                          <a class="tmp-scroll-trigger tmp-zoom-in animation-order-1"
                            href="/du-an/<%= du_an.endpoint %>">
                            <img loading="lazy" class="img-project" src="<%= image %>" alt="Thumbnail" />
                          </a>
                        </div>
                      </div>
                      <div class="portfolio-card-content-wrap">
                        <div class="content-left">
                          <h3 class="portfolio-card-title">
                            <a class="link" href="/du-an/<%= du_an.endpoint %>">
                              <%= du_an.ten_du_an%>
                            </a>
                          </h3>
                          <p class="portfoli-card-para">
                            <%=du_an.mo_ta %>
                          </p>
                        </div>
                        <a href="/du-an/<%= du_an.endpoint %>" class="tmp-arrow-icon-btn">
                          <div class="btn-inner">
                            <i class="tmp-icon fa-solid fa-arrow-up-right"></i>
                            <i class="tmp-icon-bottom fa-solid fa-arrow-up-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <% } %>
          </div>
        </div>
      </section>
      <%- include("footer") %>
        <%- include("scroll") %>

          <%- include("script")%>


  </body>

</html>