<!DOCTYPE html>
<html lang="en">
<%- include("head") %>

  <body class="project inner">
    <%- include('header') %>

      <section class="tmp-latest-portfolio tmp-section-gap">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="latest-portfolio-card v5 tmp-hover-link">
                <div class="portfoli-card-img">
                  <div class="img-box v2">
                    <a href="project-details.html">
                      <img class="img-primary hidden-on-mobile"
                        src="<%-include('base')%>/images/latest-portfolio/tab-image-4.png" alt="Blog Thumbnail">
                      <img class="img-secondary" src="<%-include('base')%>/images/latest-portfolio/tab-image-4.png"
                        alt="BLog Thumbnail">
                    </a>
                  </div>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title"><a class="link" href="project-details.html">Digital
                        Transformation Advisors</a>
                    </h3>
                    <p class="portfoli-card-para"> Development Coaches</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="latest-portfolio-card v5 tmp-hover-link">
                <div class="portfoli-card-img">
                  <div class="img-box v2">
                    <a href="project-details.html">
                      <img class="img-primary hidden-on-mobile"
                        src="<%-include('base')%>/images/latest-portfolio/tab-image-5.png" alt="Blog Thumbnail">
                      <img class="img-secondary" src="<%-include('base')%>/images/latest-portfolio/tab-image-5.png"
                        alt="BLog Thumbnail">
                    </a>
                  </div>
                  <a href="project-details.html" class="img-link-icon"><i class="fa-solid fa-arrow-up-long"></i></a>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title"><a class="link" href="project-details.html">Digital
                        Transformation Advisors</a>
                    </h3>
                    <p class="portfoli-card-para"> Development Coaches</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="latest-portfolio-card v5 tmp-hover-link">
                <div class="portfoli-card-img">
                  <div class="img-box v2">
                    <a href="project-details.html">
                      <img class="img-primary hidden-on-mobile"
                        src="<%-include('base')%>/images/latest-portfolio/tab-image-6.png" alt="Blog Thumbnail">
                      <img class="img-secondary" src="<%-include('base')%>/images/latest-portfolio/tab-image-6.png"
                        alt="BLog Thumbnail">
                    </a>
                  </div>
                  <a href="project-details.html" class="img-link-icon"><i class="fa-solid fa-arrow-up-long"></i></a>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title"><a class="link" href="project-details.html">Digital
                        Transformation Advisors</a>
                    </h3>
                    <p class="portfoli-card-para"> Development Coaches</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="latest-portfolio-card v5 tmp-hover-link">
                <div class="portfoli-card-img">
                  <div class="img-box v2">
                    <a href="project-details.html">
                      <img class="img-primary hidden-on-mobile"
                        src="<%-include('base')%>/images/latest-portfolio/tab-image-7.png" alt="Blog Thumbnail">
                      <img class="img-secondary" src="<%-include('base')%>/images/latest-portfolio/tab-image-7.png"
                        alt="BLog Thumbnail">
                    </a>
                  </div>
                  <a href="<%-include('base')%>/project-details.html" class="img-link-icon"><i
                      class="fa-solid fa-arrow-up-long"></i></a>
                </div>
                <div class="portfolio-card-content-wrap">
                  <div class="content-left">
                    <h3 class="portfolio-card-title"><a class="link" href="project-details.html">Digital
                        Transformation Advisors</a>
                    </h3>
                    <p class="portfoli-card-para"> Development Coaches</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("footer") %>
        <%- include("scroll") %>

          <%- include("script")%>


  </body>

</html>