<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

  <body>
    <%- include('header') %>

      <section class="blog-and-news-are tmp-section-gap">
        <div class="container">
          <div class="section-head mb--60">
            <div class="section-sub-title center-title tmp-scroll-trigger tmp-fade-in animation-order-1">
              <span class="subtitle">Thông Báo</span>
            </div>
            <h2 class="title split-collab tmp-scroll-trigger tmp-fade-in animation-order-2">
              <%= message1 %> <br>
                <%= message2%>
            </h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-1">
                <div class="img-box">
                  <a href="video-detail.html">
                    <img loading="lazy" class="w-100" src="<%-include('base')%>/images/blog/blog-img-1.jpg" alt="Blog Thumbnail" />
                  </a>
                  <ul class="blog-tags">
                    <li>
                      <span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah
                    </li>
                    <li>
                      <span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10
                    </li>
                  </ul>
                </div>
                <div class="blog-content-wrap">
                  <h3 class="blog-title">
                    <a class="link" href="video-detail.html">Inspiring the World, One Project at a Time for the man</a>
                  </h3>
                  <div class="more-btn tmp-link-animation">
                    <a href="video-detail.html" class="read-more-btn">Read More
                      <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-2">
                <div class="img-box">
                  <a href="video-detail.html">
                    <img  loading="lazy" class="w-100" src="<%-include('base')%>/images/blog/blog-img-2.jpg" alt="Blog Thumbnail" />
                  </a>
                  <ul class="blog-tags">
                    <li>
                      <span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah
                    </li>
                    <li>
                      <span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10
                    </li>
                  </ul>
                </div>
                <div class="blog-content-wrap">
                  <h3 class="blog-title">
                    <a class="link" href="video-detail.html">Let’s bring your ideas to life! Contact me, and let’s</a>
                  </h3>
                  <div class="more-btn tmp-link-animation">
                    <a href="video-detail.html" class="read-more-btn">Read More
                      <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog-card tmp-hover-link image-box-hover tmp-scroll-trigger tmp-fade-in animation-order-3">
                <div class="img-box">
                  <a href="video-detail.html">
                    <img loading="lazy" class="w-100" src="<%-include('base')%>/images/blog/blog-img-3.jpg" alt="Blog Thumbnail" />
                  </a>
                  <ul class="blog-tags">
                    <li>
                      <span class="tag-icon"><i class="fa-regular fa-user"></i></span>Mesbah
                    </li>
                    <li>
                      <span class="tag-icon"><i class="fa-solid fa-calendar-days"></i></span>April 10
                    </li>
                  </ul>
                </div>
                <div class="blog-content-wrap">
                  <h3 class="blog-title">
                    <a class="link" href="video-detail.html">Each one showcases my approach and dedication man</a>
                  </h3>
                  <div class="more-btn tmp-link-animation">
                    <a href="video-detail.html" class="read-more-btn">Read More
                      <span class="read-more-icon"><i class="fa-solid fa-angle-right"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include("footer") %>

        <%- include("scroll") %>

          <%- include('script') %>
  </body>

</html>